@{
    ViewData["Title"] = "Giới thiệu";
}
<header class="header-about">
    <img class="img-cover" src="img/banner/city.jpg" alt="..." />
    <div class="nav" data-aos="fade-down" data-aos-duration="500">
        <div class="container-fluid">
            <div class="nav__left">
                <a href="/" class="logo">
                    <img class="logo-img v1" src="img/logo-icon/logov2.png" alt="..." />
                    <img class="logo-img v2" src="img/logo-icon/logov3.png" alt="..." />
                </a>
                <ul class="ul-reset menu">
                    <li><a href="/gioi-thieu">Giới thiệu</a></li>
                    <li>
                        <a href="/danh-sach-truong-hoc">Giáo dục <i class="far fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a class="stretched-link" href="/danh-sach-truong-hoc">Tuyển sinh</a></li>
                            <li><a class="stretched-link" href="/danh-sach-bai-giang">Học online</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Tiện ích <i class="far fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a class="stretched-link" href="#">Việc làm</a></li>
                            <li><a class="stretched-link" href="#">Phòng trọ</a></li>
                            <li><a class="stretched-link" href="#">Kết bạn</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Dịch vụ khác <i class="far fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a class="stretched-link" href="#">Đặt vé máy bay</a></li>
                            <li><a class="stretched-link" href="#">Chuyển tiền quốc tế</a></li>
                            <li><a class="stretched-link" href="#">Chuyển phát nhanh</a></li>
                            <li><a class="stretched-link" href="#">Thương mại</a></li>
                            <li><a class="stretched-link" href="#">Văn hóa</a></li>
                        </ul>
                    </li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                </ul>
            </div>
            <div class="nav__right">
                <a href="#">
                    <img src="img/logo-icon/apple_icon.png" />
                </a>
                <a href="#">
                    <img src="img/logo-icon/gplay_icon.png" />
                </a>
                <div class="bar-mobile">
                    <i class="fal fa-bars"></i>
                    <i class="fal fa-times"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="title-main mt-lg-10 mt-3">Giới thiệu</h1>
        <div class="text-center mt-1">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
            </ol>
        </div>
    </div>
</header>
<div class="bg-white py-lg-8 py-5">
    <div class="container px-lg-10 px-md-5 px-3">
        <div class="content-detail px-lg-10 px-md-5 px-0">
            <p>
                Công Ty cổ phần tập đoàn WinWin là sự kết hợp giữa Tập đoàn công nghệ lớn tại Việt Nam và quỹ đầu tư Royal. Xin gửi lời chào trân trọng, lời chúc sức khỏe, lời cảm ơn chân thành và sâu sắc nhất.
                <br />
                Rất lấy làm vinh hạnh cho chúng tôi khi có cơ hội được giới thiệu về app công nghệ mang thương hiệu WinWin.
                <br />
                Chủ Tịch: Hồ Chí Minh  “ Non sông Việt Nam có trở nên vẻ vang hay không, dân tộc Viêt Nam có được sánh vai các cường quốc năm châu hay không, chính là nhờ một phần lớn ở công lao học tập của các cháu”
                <br />
                Lời dạy của Bác là niềm tin của đất nước, là sứ mệnh lịch sử vẻ vang dân tộc giao phó cho tuổi trẻ. Không ngừng học tập tốt, lao động tốt, vượt qua mọi khó khăn gian khổ, vươn tới đỉnh cao của khoa học và công nghệ để xây dựng đất nước. Sánh vai cùng các cường quốc năm châu là vinh dự, là trách nhiệm to lơn của tuổi trẻ chúng ta.
                <br>
                Để đóng góp một phần nhỏ bé cho thế hệ trẻ Việt Nam. App WinWin Korea ra đời với mục đích tạo mọi điều kiện là cầu nối cho thế hệ trẻ Việt Nam tiếp cận được các nên giáo dục tiên tiến bậc nhất thế giới, “tất cả các dịch vụ được  miễn phí 100% cho thế hệ trẻ Việt Nam”.
                <br />
                Trong suốt quá trình hoạt động và phát triển App WinWin, chúng tôi luôn trung thành với quan điểm: Nâng cao chất lượng dịch vụ, tạo ra một siêu ứng dụng công nghệ với các tính năng cần thiết nhất cho cộng đồng. Giúp đỡ du học sinh Việt Nam nói riêng, cộng đồng người nước ngoài nói chung, thích nghi tốt cho việc học tập và làm việc tại Hàn Quốc và các nước trên thế giới.
                <br />
                Mục tiêu chúng tôi đặt ra cho chính mình không phải là điều có thể dễ dàng đạt được. Nhưng chúng tôi tin rằng một ngày nào đó, thế hệ trẻ Việt Nam và thế giới biết đến thương hiệu WinWin là siêu ứng dụng mang lại giá trị to lớn.
                <br />
                Mỗi ngày trôi qua, chúng tôi ngày một chắc chắn về điều đó. Bởi vì chúng tôi có bạn và thế hệ trẻ Việt Nam thân yêu có thể giúp chúng tôi hoàn thiện mục tiêu của mình. Và đó đích thị là những gì mà Tập Đoàn WinWin chúng tôi mong muốn. Đưa thế hệ trẻ Việt Nam tiếp cận gần nhất với các nước có nền giáo dục tiên tiến bậc nhất thế giới, vì một cuộc sống tốt hơn cho tất cả. Cùng nhau tiến về phía trước.
                <br />
            </p>
            <br />
            <p><strong>WinWin Korea rất hân hạnh đồng hành cùng thế hệ trẻ Việt Nam vươn tầm Quốc tế!</strong></p>
            <br>
            <br />
            <p><strong>SỰ MỆNH</strong></p>
            <br />
            <p>
                -	 WinWin không ngừng nâng cao chất lượng dịch vụ, mở rộng mối<br />
                quan hệ chặt chẽ với các trường ĐH, CĐ danh tiếng trên toàn thế giới.<br />
                -	WinWin sẽ trở thành địa chỉ tin cậy, luôn tạo ra giá trị thực cho thế hệ trẻ Việt Nam và cộng đồng người Việt trên mọi miền thế giới khi sử dụng app WinWin.<br />
                -	WinWin luôn là cầu nối cho học sinh, sinh viên Việt Nam tiếp cận với nền giáo dục tiên tiến trên thế giới, luôn hỗ trợ và đồng hành cùng các bạn học sinh, sinh viên cho tới cuối con đường. Chúng tôi sẽ luôn sát cánh bên bạn từ những ngày đầu định hướng cho đến khi kết thúc quá trình học tập.<br />
                -	WinWin sẽ mang đến cho các bạn trẻ Việt Nam những giá trị học đích thực để sau này cống hiến cho gia đình và xã hội, phát triển sự nghiệp bền vững.<br />
            </p>
            <br />
            <br />
            <p><strong>TẦM NHÌN</strong></p>
            <br />
            <p>
                -	Xây dựng WinWin trở thành một thương hiệu uy tin với chiến lược phát triển trường tồn.<br />
                -	Xây dựng WinWin có hệ thống kết nối giáo dục toàn cầu với quy mô, chuyên nghiệp lớn mạnh nhất.<br />
                -	Xây dựng WinWin trở thành nhà cung cấp nguồn nhân lực cao trong tương lai, cho sự phát triển Việt Nam và các Công ty liên doanh nước ngoài tại Việt Nam.<br />
                -	WinWin luôn là đối tác đáng tin cậy là lựa chọn số 1 đối tác và khách hàng.<br />
                -	Tương lai không xa Tập đoàn WinWin trở thành 1 trong tốp 200 Tập đoàn công nghệ hàng đầu thế giới.<br />
            </p>
            <br />
            <br />

            <p><strong>GIÁ TRỊ CỐT LÕI "TÍN - TÂM - TẦM"</strong></p>
            <br />
            <p>
                -	<strong>Tín:</strong> Lấy chữ tín làm đầu, chữ tín là danh dự của chúng tôi, chúng tôi luôn cố gắng dùng hết năng lực của mình để đảm bảo thực hiện đúng cam kết với khách hàng, luôn coi trọng và giữ gìn các mối quan hệ bền vững với khách hàng và đối tác.<br />
                -	<strong>Tâm:</strong> Lấy chữ tâm làm nền tảng, luôn tôn trọng pháp luật, tôn trọng ý kiến nguyện vọng đối tác và cộng đồng, lấy đối tác và cộng đồng làm trọng tâm.<br />
                -	<strong>Tầm:</strong> Lấy mục tiêu xây dựng Tập đoàn WinWin lớn mạnh, khẳng định đẳng cấp, vị trí tầm cỡ của Tập đoàn trong lĩnh vực công nghệ trong và ngoài nước.<br />

            </p>
            <br />
            <br />
            <p><strong>PHƯƠNG CHÂM HOẠT ĐỘNG</strong></p>
            <br />
            <p>
                -	Khẩu hiệu “Lợi ích của cộng đồng người Việt Nam là số 1”<br />
                -	  Chúng tôi đặt sự phát triển thế hệ trẻ Việt Nam là tài sản quốc gia, cao hơn mục tiêu lợi nhuận của mình.
            </p>
            <br />
            <br />
            <p><strong>ĐIỂM MẠNH CỦA TẬP ĐOÀN WINWIN</strong></p>
            <br />
            <p>
                -	Tập đoàn WinWin là sự kết hợp tập đoàn công nghệ lớn trong và ngoài nước cùng với quỷ đầu tư phi chính phủ.<br />
                -	Miễn phí 100%  tất cả các dịch vụ cho thế hệ trẻ và cộng đồng Việt Nam.
            </p>
        </div>
        <div class="row mt-lg-10 mt-6 px-lg-10 px-md-5 px-0">
            <div class="col-sm-6 col-12 col-md-6 col-lg-6 mb-lg-8 mb-4">
                <div class="media media_about">
                    <img src="img/logo-icon/piggy-bank.svg" alt="...">
                    <div class="media-body">
                        <div class="media_about__title">
                            Tiết kiệm chi phí
                        </div>
                        Chúng tôi miễn phí dịch vụ 100% cho du học sinh và cộng đồng Việt Nam trên tất cả các ứng dụng WinWin.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6 col-lg-6 mb-lg-8 mb-4">
                <div class="media media_about">
                    <img src="img/logo-icon/time.svg" alt="...">
                    <div class="media-body">
                        <div class="media_about__title">
                            Thời gian xuất cảnh
                        </div>
                        Đảm bảo xuất cảnh đúng thời gian khai giảng tại các trường Đại học, theo nguyện vọng của du học sinh.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6 col-lg-6 mb-lg-8 mb-4">
                <div class="media media_about">
                    <img src="img/logo-icon/filev2.svg" alt="...">
                    <div class="media-body">
                        <div class="media_about__title">Tạo hồ sơ đơn giản</div>
                        Chỉ với 4 bước nhanh gọn, bạn có thể đăng ký thành công chương trình đi du học các nước trên thế giới.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12 col-md-6 col-lg-6">
                <div class="media media_about">
                    <img src="img/logo-icon/callv2.svg" alt="...">
                    <div class="media-body">
                        <div class="media_about__title">Hỗ trợ 24/7</div>
                        WinWinKorea luôn luôn đồng hành với đối tác và quý khách hàng mọi lúc mọi nơi.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>