@{
    ViewData["Title"] = "Liên hệ";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logo-icon/logov3.png" type="image/x-icon" />
    <title>@ViewData["Title"] - WinWinGlobal</title>
    <link href="~/css/all.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css" />
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-about">
        <img class="img-cover" src="img/banner/city.jpg" alt="..." />
        <div class="nav" data-aos="fade-down" data-aos-duration="500">
            <div class="container-fluid">
                <div class="nav__left">
                    <a href="/" class="logo">
                        <img class="logo-img v1" src="img/logo-icon/logov2.png" alt="..." />
                        <img class="logo-img v2" src="img/logo-icon/logov3.png" alt="..." />
                    </a>
                    <ul class="ul-reset menu">
                        <li><a href="/gioi-thieu">Giới thiệu</a></li>
                        <li>
                            <a href="/danh-sach-truong-hoc">Giáo dục <i class="far fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a class="stretched-link" href="/danh-sach-truong-hoc">Tuyển sinh</a></li>
                                <li><a class="stretched-link" href="/danh-sach-bai-giang">Học online</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Tiện ích <i class="far fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a class="stretched-link" href="/viec-lam">Việc làm</a></li>
                                <li><a class="stretched-link" href="/phong-tro">Phòng trọ</a></li>
                                <li><a class="stretched-link" href="/ket-ban">Kết bạn</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Dịch vụ khác <i class="far fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a class="stretched-link" href="/dat-ve-may-bay">Đặt vé máy bay</a></li>
                                <li><a class="stretched-link" href="/chuyen-tien-quoc-te">Chuyển tiền quốc tế</a></li>
                                <li><a class="stretched-link" href="/chuyen-phat-nhanh">Chuyển phát nhanh</a></li>
                                <li><a class="stretched-link" href="/thuong-mai">Thương mại</a></li>
                                <li><a class="stretched-link" href="/van-hoa">Văn hóa</a></li>
                            </ul>
                        </li>
                        <li><a href="/chinh-sach-va-dieu-khoan">Chính sách & điều khoản</a></li>
                        <li><a href="/lien-he">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="nav__right">
                    <a href="#">
                        <img src="img/logo-icon/apple_icon.png" />
                    </a>
                    <a href="#">
                        <img src="img/logo-icon/gplay_icon.png" />
                    </a>
                    <div class="bar-mobile">
                        <i class="fal fa-bars"></i>
                        <i class="fal fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="title-main mt-lg-10 mt-3">Liên hệ</h1>
            <div class="text-center mt-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
                </ol>
            </div>
        </div>
    </header>
    <div class="bg-white py-lg-8 py-5">
        <div class="container pt-lg-7 py-3">
            <div class="row">
                <div class="col-sm-12 col-lg-6 pr-lg-10">
                    <div class="title-contact">
                        Thông tin liên hệ
                        <span>Chào mừng đén với website của chúng tôi. Chúng tôi rất vui khi có bạn ở bên.</span>
                    </div>
                    <div class="row">
                        <div class="col-6 border-bottom pb-lg-5 pb-4">
                            <div class="media media-contact">
                                <i class="fas fa-phone-alt mr-lg-4 mr-3"></i>
                                <div class="media-body">
                                    <div class="media-contact__name">Hotline</div>
                                    02433111133
                                </div>
                            </div>
                        </div>
                        <div class="col-6 border-bottom pb-lg-5 pb-4">
                            <div class="media media-contact">
                                <i class="fas fa-envelope mr-lg-4 mr-3"></i>
                                <div class="media-body">
                                    <div class="media-contact__name">Email</div>
                                    winwinvn.group@gmail.com
                                </div>
                            </div>
                        </div>
                        <div class="col-12 border-bottom py-lg-5 py-4">
                            <div class="media media-contact">
                                <i class="fas fa-map-marker-alt mr-lg-4 mr-3"></i>
                                <div class="media-body">
                                    <div class="media-contact__name">Địa chỉ</div>
                                    Số 17/174 Trần Vỹ, Mai Dịch, Cầu Giấy, Hà Nội
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-contact mt-lg-5 mt-3">
                        <a href="#" id="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" id="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" id="youtube"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 pt-8 pt-lg-0">
                    <div class="title-contact">
                        Gửi tin nhắn
                        <span>Vui lòng điền đầy đủ thông tin dưới rồi trước khi gửi liên hệ cho chúng tôi.</span>
                    </div>
                    <form class="contact-main">
                        <div class="row">
                            <div class="col-6 pr-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="fullname" autocomplete="off" placeholder="Họ và tên">
                                </div>
                            </div>
                            <div class="col-6 pl-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" autocomplete="off" placeholder="Số điện thoại">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-lg-1">
                            <textarea class="form-control" id="description" rows="6" placeholder="Lời nhắn"></textarea>
                        </div>
                        <div class="form-group mt-lg-4 mt-3">
                            <button type="submit" class="btn btn-primary">Gửi đi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="link-app-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-6">
                    <img src="/img/banner/double-iphone.png" class="img-animation img-fluid" alt="..." loading="lazy" />
                </div>
                <div class="col-sm-12 col-md-7 col-lg-6 link-app-section__content">
                    <h2 class="title">
                        Trải nghiệm ngay
                        <span class="shadow-txt">Trải nghiệm ngay</span>
                    </h2>
                    <p class="description mt-lg-8 mt-4 truncate-h" data-line="3">
                        As we all have smartphones nowadays, being mobile friendly is so important. We know that and we made
                        your theme to be mobile friendly so anyone will be happy when they visit your online learning course site.
                    </p>
                    <div class="d-flex mt-lg-7 mt-4">
                        <a href="#" class="mr-2">
                            <img src="/img/logo-icon/btn_appstore.png" alt="..." loading="lazy">
                        </a>
                        <a href="#">
                            <img src="/img/logo-icon/btn_googleplay.png" alt="..." loading="lazy">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="embed-responsive embed-responsive-16by9 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6934555775433!2d105.77245071540258!3d21.044948192600334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454cec0680227%3A0x49e0fc1ef799d489!2zMTcsIDE3NCBUcuG6p24gVuG7uSwgTWFpIEThu4tjaCwgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1625106225657!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    @Html.Partial("Footer")
    <script src="~/js/jquery-3.6.0.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/config.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
    <script src="~/js/API.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>
