<div class="hotline-phone-ring-wrap">
    <div class="hotline-phone-ring">
        <div class="hotline-phone-ring-circle"></div>
        <div class="hotline-phone-ring-circle-fill"></div>
        <div class="hotline-phone-ring-img-circle">
            <a href="tel:0972215678" class="pps-btn-img">
                <i class="fas fa-phone-alt"></i>
            </a>
        </div>
    </div>
    <div class="hotline-bar">
        <a href="tel:02433111133">
            <span class="text-hotline">02433111133</span>
        </a>
    </div>
</div>
<a class="scroll-up" href="#top">
    <i class="fal fa-angle-up"></i>
</a>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="/" class="logo-ft">
                    <img src="/img/logo-icon/logo-v0.png" alt="..." loading="lazy">
                    WinWinKorea
                </a>
                <div class="description pl-lg-2">
                    Hệ thống kết nối trực tiếp với các trường Đại Học danh tiếng trên toàn thế giới, đồng hành cùng sinh viên đến cuối con đường.
                </div>
                <div class="social mt-lg-5 mt-3 pl-lg-2">
                    <a href="https://www.facebook.com/tapdoanwinwinvn" id="facebook"><img src="/img/logo-icon/facebook.png" alt="..." /></a>
                    <a href="https://vt.tiktok.com/ZSe1bxeNf/" id="tiktok"><img src="/img/logo-icon/tiktok.png" alt="..." /></a>
                    <a href="#" id="youtube"><img src="/img/logo-icon/youtube.png" alt="..." /></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 pt-lg-3">
                <div class="title-ft">
                    Mobile
                </div>
                @*<div class="description">
                    Nhanh tay tải app để cùng đồng hành với chúng tôi.
                </div>*@
                <div class="d-flex mt-lg-4 mt-3">
                    <a href="https://apps.apple.com/vn/app/winwin-korea/id1578604911" target="_blank" class="mr-2">
                        <img src="/img/logo-icon/btn_appstore.png" alt="..." loading="lazy">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.cooftech.winwinkorea" target="_blank">
                        <img src="/img/logo-icon/btn_googleplay.png" alt="..." loading="lazy">
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 pt-lg-3">
                <div class="title-ft">
                    Link nhanh
                </div>
                <ul class="ul-block">
                    <li><a href="/danh-sach-truong-hoc">Tuyển sinh</a></li>
                    <li><a href="/danh-sach-bai-giang">Học online</a></li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 pt-lg-3">
                <div class="title-ft">
                    Chứng nhận bởi
                </div>
                <a href="#">
                    <img class="certificate-img" src="img/logo-icon/bocongthuong.png" alt="..." />
                </a>
                <a href="#">
                    <img class="certificate-img" src="img/logo-icon/dk-hanoi.png" alt="..." />
                </a>
                <a href="#">
                    <img class="certificate-img" src="img/logo-icon/dmca.png" alt="..." />
                </a>
            </div>
        </div>
        <div class="copyright mt-lg-10 mt-4 pt-lg-6 pt-3">
            <ul class="ul-block">
                <li>Công ty cổ phần tập đoàn winwin</li>
                <li><a href="#"><i class="fal fa-home-lg-alt mr-1"></i> Mã số thuế : 0109708506</a></li>
                <li><a href="#"><i class="fal fa-map-marker-alt mr-1"></i> Số 17/174 Trần Vỹ, Mai Dịch, Cầu Giấy, Hà Nội</a></li>
                <li><a href="tel:02433111133"><i class="fal fa-phone-alt mr-1"></i> 02433111133</a></li>
                <li><a href="mailto:winwinkr.group@gmail.com"><i class="fal fa-envelope mr-1"></i> winwinkr.group@gmail.com</a></li>
                <li><a href="tel:0972215678"><i class="fal fa-user-headset mr-1"></i> Khiếu nại dịch vụ : 0972215678</a></li>
            </ul>
        </div>
    </div>
</footer>