<div class="hotline-phone-ring-wrap">
    <div class="hotline-phone-ring">
        <div class="hotline-phone-ring-circle"></div>
        <div class="hotline-phone-ring-circle-fill"></div>
        <div class="hotline-phone-ring-img-circle">
            <a href="tel:0972215678" class="pps-btn-img">
                <i class="fas fa-phone-alt"></i>
            </a>
        </div>
    </div>
    <div class="hotline-bar">
        <a href="tel:02433111133">
            <span class="text-hotline">02433111133</span>
        </a>
    </div>
</div>
<a class="scroll-up" href="#top">
    <i class="fal fa-angle-up"></i>
</a>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="/" class="logo-ft">
                    <img src="/img/logo-icon/logo-v0.png" alt="..." loading="lazy">
                    WinWinKorea
                </a>
                <div class="description pl-lg-2">
                    <div class="mb-2"><h2>CÔNG TY CỔ PHẦN TẬP ĐOÀN WINWIN</h2>(WINWIN GROUP CORPORATION)</div>
                    Hệ thống kết nối trực tiếp với các trường Đai Học danh tiếng trên toàn thế giới. đồng hành cùng sinh viên đến cuối con đường.
                </div>
                <div class="social mt-lg-5 mt-3 pl-lg-2">
                    <a href="#" id="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" id="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" id="youtube"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 pt-lg-3">
                <div class="title-ft">
                    Link nhanh
                </div>
                <ul class="ul-block">
                    <li><a href="/danh-sach-truong-hoc">Tuyển sinh</a></li>
                    <li><a href="/danh-sach-bai-giang">Học online</a></li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 pt-lg-3">
                <!-- <div class="title-ft">
                  Google map
                </div> -->
                <!-- <div class="embed-responsive embed-responsive-16by9">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6934555775433!2d105.77245071540258!3d21.044948192600334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454cec0680227%3A0x49e0fc1ef799d489!2zMTcsIDE3NCBUcuG6p24gVuG7uSwgTWFpIEThu4tjaCwgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1626594285510!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div> -->
                <div class="title-ft">
                    Liên hệ
                </div>
                <ul class="ul-block">
                    <li><a href="mailto:winwinvn.group@gmail.com"><i class="fal fa-envelope mr-1"></i> winwinvn.group@gmail.com</a></li>
                    <li><a href="tel:02433111133"><i class="fal fa-phone-alt mr-1"></i>02433111133</a></li>
                    <li><a href="#"><i class="fal fa-map-marker-alt mr-1"></i> Số 17/174 Trần Vỹ, Mai Dịch, Cầu Giấy, Hà Nội</a></li>
                    <li><a href="tel:0972215678">Khiếu nại dịch vụ : 0972215678</a></li>
                    <li><a href="#">Mã số thuế : 0109708506</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 pt-lg-3">
                <div class="title-ft">
                    Mobile
                </div>
                <div class="description">
                    Nhanh tay tải app để cùng đồng hành với chúng tôi.
                </div>
                <div class="d-flex mt-lg-4 mt-3">
                    <a href="https://apps.apple.com/vn/app/winwin-korea/id1578604911" class="mr-2">
                        <img src="/img/logo-icon/btn_appstore.png" alt="..." loading="lazy">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.cooftech.winwinkorea">
                        <img src="/img/logo-icon/btn_googleplay.png" alt="..." loading="lazy">
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright mt-lg-10 mt-5 pt-lg-6 pt-3">
            © Copyright by WinWinKorea 2021. Designed by Cooftech.com
        </div>
    </div>
</footer>