<div class="category-title pl-lg-4 pt-lg-0 pt-md-5 pt-3">Danh mục</div>
<ul class="ul-block list-category mt-lg-5 mt-4">
    <li>
        <a href="/danh-sach-truong-hoc"><i class="fas fa-caret-right mr-1"></i>Giáo dục</a>
        <ul class="list-category__child">
            <li><a href="/danh-sach-truong-hoc">Tuyển sinh</a></li>
            <li><a href="/danh-sach-bai-giang">Học online</a></li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fas fa-caret-right mr-1"></i>Tiện ích</a>
        <ul class="list-category__child">
            <li><a href="/viec-lam">Việc làm</a></li>
            <li><a href="/phong-tro">Phòng trọ</a></li>
            <li><a href="/ket-ban">Kết bạn</a></li>
        </ul>
    </li>
    <li>
        <a href="#"> <i class="fas fa-caret-right mr-1"></i>Dịch vụ khác</a>
        <ul class="list-category__child">
            <li><a href="/dat-ve-may-bay">Đặt vé máy bay</a></li>
            <li><a href="/chuyen-tien-quoc-te">Chuyển tiền quốc tế</a></li>
            <li><a href="/chuyen-phat-nhanh">Chuyển phát nhanh</a></li>
            <li><a href="/thuong-mai">Thương mại</a></li>
            <li><a href="/van-hoa">Văn hóa</a></li>
        </ul>
    </li>
</ul>