@{
    ViewData["Title"] = "Chính sách & điều khoản";
}
<header class="header-about">
    <img class="img-cover" src="img/banner/city.jpg" alt="..." />
    <div class="nav" data-aos="fade-down" data-aos-duration="500">
        <div class="container-fluid">
            <div class="nav__left">
                <a href="/" class="logo">
                    <img class="logo-img v1" src="img/logo-icon/logov2.png" alt="..." />
                    <img class="logo-img v2" src="img/logo-icon/logov3.png" alt="..." />
                </a>
                <ul class="ul-reset menu">
                    <li><a href="/gioi-thieu">Giới thiệu</a></li>
                    <li>
                        <a href="/danh-sach-truong-hoc">Giáo dục <i class="far fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a class="stretched-link" href="/danh-sach-truong-hoc">Tuyển sinh</a></li>
                            <li><a class="stretched-link" href="/danh-sach-bai-giang">Học online</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Tiện ích <i class="far fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a class="stretched-link" href="#">Việc làm</a></li>
                            <li><a class="stretched-link" href="#">Phòng trọ</a></li>
                            <li><a class="stretched-link" href="#">Kết bạn</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Dịch vụ khác <i class="far fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a class="stretched-link" href="#">Đặt vé máy bay</a></li>
                            <li><a class="stretched-link" href="#">Chuyển tiền quốc tế</a></li>
                            <li><a class="stretched-link" href="#">Chuyển phát nhanh</a></li>
                            <li><a class="stretched-link" href="#">Thương mại</a></li>
                            <li><a class="stretched-link" href="#">Văn hóa</a></li>
                        </ul>
                    </li>
                    <li><a href="/chinh-sach-va-dieu-khoan">Chính sách & điều khoản</a></li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                </ul>
                <div class="bar-mobile">
                    <i class="fal fa-bars"></i>
                </div>
            </div>
            <div class="nav__right">
                <a href="#">
                    <img src="img/logo-icon/apple_icon.png" />
                </a>
                <a href="#">
                    <img src="img/logo-icon/gplay_icon.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="title-main mt-lg-10 mt-3">Chính sách & điều khoản</h1>
        <div class="text-center mt-1">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chính sách & điều khoản</li>
            </ol>
        </div>
    </div>
</header>
<div class="bg-white py-lg-8 py-5">
    <div class="container px-lg-10 px-md-5 px-3">
        <div class="content-detail px-lg-10 px-md-5 px-0">
            <p><strong>ĐIỀU 1: MỤC ĐÍCH</strong></p>
            <p>
                Sứ mệnh của WinWin Global là tạo ra hệ sinh thái tiện ích cho
                du học sinh và cộng đồng toàn cầu. Trung thành quan điểm luôn
                nỗ lực hết mình, xây dựng và duy trì một môi trường an toàn,
                lành mạnh nhằm mang lại chất lượng dịch vụ tốt nhất cho cộng đồng.
                Các thuật toán của chúng tôi được thiết kế với mục đích xây dựng
                sự tin cậy và an toàn trên ứng dụng.
                <br />
                ※ “ Điều khoản sử dụng này sẽ được áp dụng với các hoạt động của người
                trên các thiết bị có kết nối internet như : điện thoại thông minh, máy
                tính PC, máy tính bảng, web… ”
            </p>
            <br />
            <p><strong>ĐIỀU 2: DỊCH VỤ CUNG CẤP</strong></p>
            <p>
                WinWin Global do công ty điều hành thực hiện các nhiệm vụ sau.
                <br />
                ① Ứng dụng di động WinWin Global trên nền tảng Android và ios.
                <br />
                ② Web
                <br />
                ③ Hệ thống chuyển đổi ngôn ngữ tự động
            </p>
            <br />
            <p><strong>ĐIỀU 3: ĐỊNH NGHĨA </strong></p>
            <p>
                Định nghĩa của các thuật ngữ chính được sử dụng trong Điều khoản và
                Điều kiện này như sau:
                <br />
                ① <strong>Công ty:</strong> Là đề cập đến Công ty Cổ phần Tập Đoàn WinWin,
                và công ty là đơn vị chịu trách nhiệm vận hành dịch vụ WinWin Global.
                <br />
                ② <strong>WinWin Global:</strong> Là địa chỉ điện tử chính thức của Công
                ty gồm website: <a target="blank" href="www.winwinglobal.net">
                    www.winwinglobal.net
                </a>
                và App được thiết lập để cung cấp
                miễn phí cho người dùng dịch vụ viết bài, nhắn tin trên các thiết bị
                có kết nối internet như: điện thoại thông minh, máy tính PC, máy tính bảng...
                Nó cũng được sử dụng với nghĩa là nhà điều hành dịch vụ này.
                <br />
                ③ <strong>Đối tác:</strong> Là đề cập đến cá nhân, tổ chức được công
                ty đánh giá qua nhiều tiêu chí, đã và đang sử dụng WinWin Global. Những
                cá nhân, tổ chức này đã cung cấp đầy đủ thông tin cho WinWin Global.
                <br />
                ④ <strong>Người dùng:</strong> Là đề cập đến cộng đồng người dùng, truy cập vào
                WinWin Global để sử dụng dịch vụ trên nên tảng WinWin Global cung cấp.
                <br />
                ⑤ <strong>Dịch vụ:</strong> Là đề cập đến tất cả những dịch vụ có liên quan,
                có thể sử dụng trong WinWin Global.
                <br />
                ⑥ <strong>Bài đăng:</strong> Là đề cập đến văn bản do đối tác đăng trên nên
                tảng App WinWin Global hoặc mã văn bản, giọng nói, âm thanh,
                video, hình ảnh, tệp (bao gồm URL)…
            </p>
            <br>
            <p><strong>ĐIỀU 4: TRUY CẬP </strong></p>
            <p>
                ① WinWin Global bảo lưu quyền được chấm dứt, thay đổi bất kỳ dịch vụ,
                thông tin nào mà WinWin Global cung cấp vào bất cứ lúc nào phù hợp với
                từng thời điểm, theo quyết định của công ty và luật pháp nước sỡ tại.
                Để truy cập và sử dụng các dịch vụ, thông tin của WinWin Global, bạn
                có thể được yêu cầu cung cấp một số thông tin để xác minh danh tính.
                <br />
                ② Bạn đảm bảo rằng tất cả các thông tin bạn cung cấp là chính xác,
                đầy đủ và cập nhật. Bạn đồng ý rằng tất cả các thông tin mà bạn cung
                cấp cho WinWin Global thông qua Website hoặc App của công ty được
                điều chỉnh bởi chính sách bảo mật của công ty.
                <br />
                ③ Nếu bạn lựa chọn, hoặc được cung cấp, một tên người dùng, mật khẩu
                hoặc bất kỳ phần nào khác của thông tin như là một phần của thủ tục
                an ninh, bạn có nghĩa vụ bảo mật các thông tin này, và không được
                tiết lộ cho bất kỳ người nào hoặc tổ chức nào khác.
                <br />
                ④ Bạn cũng xác nhận rằng tài khoản của bạn là dành riêng cho bạn,
                và đồng ý không cung cấp thông tin tài khoản cho bất kỳ người nào
                khác, để truy cập vào các dịch vụ thông tin của WinWin Global.
                <br />
                ⑤ Sau khi bạn được cung cấp tài khoản chỉ dành riêng cho bạn quản
                lý, bạn hay thay đổi mật khẩu, mọi thông tin bạn quảng cáo, bạn
                kiểm tra lại nội dung và tự chịu trách nhiệm về nội dung đó.
                <br />
                ⑥ Bạn đồng ý thông báo cho công ty ngay lập tức, khi phát hiện bất kỳ
                việc truy cập trái phép nào có liên quan đến tài khoản sử dụng của bạn.
                <br />
                WinWin Global có quyền vô hiệu hóa bất kỳ tên người dùng, mật khẩu hoặc
                số nhận dạng khác, đã được lựa chọn bởi bạn hoặc cung cấp bởi WinWin
                Global, nếu phát hiện bạn vi phạm nguyên tắc cộng động mà không
                cần thông báo lý do của việc vô hiệu hóa đó.
            </p>
            <br />
            <p><strong>ĐIỀU 5: TIÊU CHUẨN NỘI DUNG</strong></p>
            <p>
                Tiêu chuẩn áp dụng cho bất kỳ và tất cả các đóng góp của người sử dụng.
                Nội dung đóng góp của người dùng phải tuân thủ các quy định pháp luật.
                Theo đó, WinWin Global không chịu trách nhiệm với bất kỳ bên thứ ba nào
                về việc công ty không thể loại bỏ kịp thời các thông tin quảng cáo
                bởi đối tác trên các dịch vụ của WinWin Global.
            </p>
            <br />
            <p><strong>ĐIỀU 6: HÀNH VI NHIÊM CẤM </strong></p>
            <p>
                ① Chúng tôi không cho phép sử dụng các dịch vụ của
                WinWin Global cho bất kỳ hành vi hoặc mục đích vi phạm pháp luật.
                <br />
                ② Chúng tôi không cho phép bất cứ ai khai thác nền tảng để lợi dụng lòng
                tin của người khác, gây ra tổn hại về tài chính hoặc tổn hại cá nhân.
                Chúng tôi sẽ chuyển những nội dung đánh lừa người khác nhằm thu lợi
                tài chính hoặc cá nhân bất hợp pháp cho cơ quan chức năng nếu có
                yêu cầu. Chúng tôi sẽ cấm vĩnh viễn các tài khoản vi phạm quy định.
                <br />
                ③ Chúng tôi không cho phép các tài khoản mạo danh các cá nhân hoặc tổ
                chức khác với mọi hình thức. Sau khi xác nhận báo cáo về hành vi mạo
                danh, chúng tôi sẽ đề nghị người dùng soát lại hồ sơ hoặc tạm ngưng
                hay xóa tài khoản. Lấy danh nghĩa người hoặc tổ chức khác bằng cách
                sử dụng tên, chi tiết tiểu sử hoặc ảnh hồ sơ của họ theo cách gây hiểu lầm
                <br />
                ④ Chúng tôi không cho phép nội dung chứa ngôn từ, hành vi kích động thù
                địch, gây tổn hại đối với trẻ vị thành niên dưới bất kỳ hình thức nào
                ,và sẽ xóa nội dung đó khỏi nền tảng của WinWin Global
                <br />
                ⑤ Chúng tôi không cho phép tạo liên kết hoặc trung chuyển cho các dữ liệu
                mang tính chất bất hợp pháp, bị cấm phổ biến, hoặc có nội dung đe dọa,
                kích động, vu khống, lừa dối, gây thù hằn, chia rẽ đoàn kết, vi phạm
                thuần phong mỹ tục, khiêu dâm, xúc phạm danh dự, uy tín cá nhân hay tổ
                chức, tiết lộ bí mật nhà nước, bí mật quân sự, an ninh, kinh tế, đối
                ngoại và những bí mật khác do pháp luật quy định bằng bất cứ hình
                thức nào mà pháp luật có quy định cấm.
                <br />
                ⑥ Chúng tôi không cho phép lưu trữ, truyền bá các dữ liệu mà việc đó có
                thể cấu thành hoặc khuyến khích các hình thức vi phạm pháp luật; hoặc
                có các hành vi xâm phạm bản quyền, quyền sở hữu trí tuệ hoặc xâm phạm
                bí mật kinh doanh, xâm phạm các quyền lợi hợp pháp của các cá nhân, tổ chức khác.
                <br />
                Chúng tôi không cho phép có hành động gian lận hoặc hành vi trái quy định
                tại thỏa thuận này hay quy định của pháp luật có liên quan đối với các
                trang web, địa chỉ của đơn vị cung cấp dịch vụ có liên kết với chúng tôi.
                <br />
                Chúng tôi không cho phép có hành vi gây cản trở, phá rối dịch vụ hoặc việc
                sử dụng của người khác đối với dịch vụ, các máy chủ hoặc các mạng liên kết
                với dịch vụ; không tuân theo các yêu cầu, thủ tục, chính sách hoặc quy
                định của các mạng được kết nối với dịch vụ.
                <br />
                Chúng tôi không cho phép vi phạm các quy định hiện hành của Bộ Thông Tin
                Và Truyền Thông cũng như các quy định hiện hành của luật pháp nước
                sở tại về các hành vi vi phạm pháp luật trên mạng internet.
                <br />
                Sau khi tham vấn các bên liên quan, chúng tôi sẽ có thể cập nhật tiêu chuẩn
                Cộng đồng để bắt kịp với những hành vi và rủi ro mới, vì đây cũng là một phần
                trong cam kết của chúng tôi trong việc duy trì sự an toàn cho người
                dùng trên ứng dụng
            </p>
            <br>
            <p><strong>ĐIỀU 7: GIÁM SÁT VÀ THI HÀNH</strong></p>
            <p>
                Chúng tôi thường xuyên giám sát và thi hành tất cả các nội dung được
                mà chúng tôi đưa lên hệ thống, và kịp thời xử lý chấm dứt hoặc
                đình chỉ truy cập những nội dung vi phạm tại <strong>Điều 6.</strong>
                WinWin Global có quyền: Loại bỏ hoặc từ chối đưa lên bất kỳ
                thông tin đóng góp nào của thành viên mà vi phạm chính sách,
                thực hiện các sửa đổi mà công ty cho là cần thiết đối với các
                đóng góp của thành viên; tiết lộ danh tính của bạn hoặc các
                thông tin khác về bạn theo các yêu cầu của các cơ quan chức năng có thẩm quyền.
            </p>
            <br>
            <p><strong>ĐIỀU 8: QUYỀN SỞ HƯU TRÍ TUỆ</strong></p>
            <p>
                Các Điều khoản sử dụng cho phép bạn sử dụng các dịch vụ của
                công ty cho cá nhân, cho mục đích phi thương mại.
                <br />
                Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và
                tất cả các thiết kế, văn bản, đồ họa, phần mềm, hình ảnh, video, âm nhạc, âm
                thanh, biên dịch phần mềm, mã nguồn và phần mềm cơ bản đều là tài sản của chúng
                tôi. Toàn bộ nội dung của WinWin Global được bảo vệ bởi luật bản quyền công
                ước quốc tế. (Bản quyền đã được bảo lưu).
                <br />
                Người dùng không được sao chép, xuất bản, phân phối, ... sử dụng các bài
                viết của công ty bằng bắt cứ hình thức nào vào mục đích thương mại của
                mình, hoặc cung cấp cho bên thứ 3 khi chưa được sự đồng ý của công ty bằng văn bản.
            </p>
            <br>
            <p><strong>ĐIỀU 9: VI PHẠM BẢN QUYỀN</strong></p>
            <p>
                WinWin Global coi trọng vấn đề bản quyền, và sẽ phản hồi lại các thông báo
                về việc vi phạm bản quyền theo đúng các qui định của pháp luật. Nếu bạn
                phát hiện bất kỳ thông tin nào của bạn mà người khác đang sử dụng trên
                WinWin Global, vi phạm bản quyền của bạn, bạn có thể yêu cầu loại bỏ
                các thông tin này từ các dịch vụ của WinWin Global bằng cách gửi thông
                báo cho WinWin Global qua thư điện tử Email:
                <a href="mailto:winwinvn.group@gmail.com">winwinvn.group@gmail.com</a>
                hoặc các hình thức liên lạc phù hợp khác.
            </p>
            <br>
            <p><strong>ĐIỀU 10: NGHĨA VỤ CỦA CÔNG TY</strong></p>
            <p>
                ① Điều khoản sử dụng của công ty luôn luôn bám sát và tuân theo những quy
                định của pháp luật, tuân thủ trật tự và đạo đức công cộng. Dịch vụ của
                công ty được cung cấp một cách nhất quán và ổn định theo Điều khoản sử dụng này.
                <br />
                ② Công ty đảm bảo có hệ thống bảo mật để bảo vệ thông tin cá nhân
                ủa người dùng (bao gồm cả thông tin tín dụng) để người
                dùng có thể yên tâm sử dụng dịch vụ .
                <br />
                ③ Công ty có nghĩa vụ cập nhật, điều chỉnh và sửa đổi các
                Điều khoản sử dụng WinWin Global để phù hợp với các luật
                pháp liên quan ở từng thời điểm khác nhau.
                <br />
                ④ Công ty gửi e-mail thông báo tới người dùng trong trường hợp cần thiết.
                <br />
            </p>
            <br>
            <p><strong>ĐIỀU 11: CAM KẾT BẢO MẬT THÔNG TIN </strong></p>
            <p>
                Chúng tôi cam kết bảo mật thông tin cá nhân của bạn bằng mọi cách thức.
                Chúng tôi sẽ sử dụng nhiều công nghệ bảo mật thông tin khác nhau,
                nhằm bảo vệ thông tin này không bị truy lục, sử dụng hoặc tiết lộ
                ngoài ý muốn. Với thuật toán của chúng tôi được thiết kế với mục
                đích bảo mật tuyệt đối.
                <br />
                Chúng tôi khuyến cáo bạn nên bảo mật các thông tin liên quan đến mật
                khẩu truy xuất của bạn và không nên chia sẻ chuyển giao với bất kỳ
                người nào khác. Nếu sử dụng máy tính chung nhiều người, bạn nên
                đăng xuất, hoặc thoát hết tất cả cửa sổ Website đang mở.
                <br />
                ① Khi thu thập thông tin từ các người dùng, công ty thu thập những
                thông tin tối thiểu cần thiết để thực hiện xác định danh tính
                người dùng và trách nhiệm của các bên khi sữ dụng nên tảng WinWin Global:
                <br />
                <ul class="ul-block ml-3 ml-lg-5 my-2">
                    <li style="line-height: 24px;" class="py-1"><strong>1.</strong> Họ và tên.</li>
                    <li style="line-height: 24px;" class="py-1">
                        <strong>2.</strong>
                        Số chứng minh nhân dân/ Passport
                    </li>
                    <li style="line-height: 24px;" class="py-1"><strong>3.</strong> Ngày sinh</li>
                    <li style="line-height: 24px;" class="py-1"><strong>4.</strong> Giới tính</li>
                    <li style="line-height: 24px;" class="py-1"><strong>5.</strong> Quốc tịch</li>
                    <li style="line-height: 24px;" class="py-1"><strong>6.</strong> Địa chỉ</li>
                    <li style="line-height: 24px;" class="py-1">
                        <strong>7.</strong>
                        Số điện thoại
                    </li>
                    <li style="line-height: 24px;" class="py-1">
                        <strong>8.</strong>
                        Xác nhận khuôn mặt
                    </li>
                    <li style="line-height: 24px;" class="py-1"><strong>9.</strong> Facebook</li>
                    <li style="line-height: 24px;" class="py-1">
                        <strong>10.</strong>
                        Địa chỉ email
                    </li>
                </ul>
                <span>
                    Việc thu thập dữ liệu tùy vào từng dịch vụ yêu cầu khác nhau, sẽ nhập thông tin
                    khác nhau. Đây là các thông tin mà WinWin Global cần người dùng cung cấp khi
                    đăng ký và xác nhận danh tính của người sữ dụng các dịch vụ WinWin Global
                    để đảm bảo quyền lợi cho chính bạn và tất cả người dùng. Bạn có trách nhiệm
                    thông báo kịp thời cho WinWin Global về những hành vi sử dụng trái phép,
                    lạm dụng, vi phạm bảo mật của bên thứ ba để có biện pháp giải quyết phù hợp.
                </span>
                <br />
                <span>
                    ② Khi thu thập thông tin cá nhân để xác định thì công ty phải được sự
                    đồng ý của người đó.
                </span>
                <br />
                <span>
                    ③ Thông tin cá nhân do người dùng đã cung cấp không sử dụng cho
                    các mục đích khác hoặc cung cấp cho bên thứ ba. Công ty sẽ
                    hoàn toàn chịu trách nhiệm về việc này. Tuy nhiên, ngoại trừ những trường hợp sau:
                </span>
                <ul class="ul-block ml-3 ml-lg-5 my-2">
                    <li style="line-height: 24px;" class="py-1">
                        <strong>1.</strong>
                        <i>
                            Cung cấp thông tin không lộ danh tính vì mục đích
                            thống kê, nghiên cứu học thuật, hay điều tra thị trường.
                        </i>.
                    </li>
                    <li style="line-height: 24px;" class="py-1">
                        <strong>2.</strong>
                        <i> Trường hợp cần để xác nhận danh tính đề phòng gian lận.</i>
                    </li>
                    <li style="line-height: 24px;" class="py-1">
                        <strong>3.</strong>
                        <i>
                            Trường hợp bất khả kháng theo yêu cầu của pháp luật,
                            người thi hành luật ...
                        </i>
                    </li>
                </ul>
            </p>
            <br />
            <p><strong>ĐIỀU 12: ĐĂNG KÝ ĐỐI TÁC</strong></p>
            <p>
                ① Cá nhân, tổ chức đăng ký trở thành đối tác bằng cách điền thông tin theo
                mẫu đăng ký do công ty cung cấp và đồng ý với các điều khoản sử
                dụng chung của tập đoàn WinWin.
                <br />
                ② Cá nhân, tổ chức đăng ký mới, có sự thay đổi thông tin đăng ký,
                đối tác thông báo ngay, qua e-mail: winwinvn.group@gmail.com hoặc
                các phương tiện khác.
                <br />
                ③ Các thông báo của công ty sẽ được gửi cho các đối tác qua e-mail,
                mà các đối tác cung cấp khi đăng ký.
                <br />
                ④ Với những thông báo chung cho tất cả các đối tác, công ty sẽ đăng
                lên bảng tin dịch vụ của công ty 05 ngày trước khi có hiệu lực và
                không thông báo cho từng đối tác. Công ty chỉ thông báo cho từng
                đối tác khi nội dung đó liên quan đến chính đối tác đó.
            </p>
            <br />
            <p><strong>ĐIỀU 13: TẠM NGỪNG DỊCH VỤ</strong></p>
            <p>
                Công ty có thể hạn chế hoặc tạm ngừng một phần việc cung cấp dịch vụ
                nếu vì bất kỳ lý do nào sau đây:
                <br />
                ① Khi cần bảo trì, thay thế các phương tiện thông tin liên lạc
                như máy tính, phụ kiện, thiết bị bị hỏng hoặc tín hiệu liên lạc bị gián đoạn.
                <br />
                ② Khi gặp trường hợp bất khả kháng như thiên tai khác, sự cố cấp quốc gia, ...
            </p>
            <br>
            <p><strong>ĐIỀU 14: CHẤP NHẬN CÁC ĐIỀU KHOẢN SỬ DỤNG</strong></p>
            <p>
                Các điều khoản và điều kiện trên (gọi chung là các “Điều khoản sử dụng”)
                quy định việc truy cập và sử dụng các dịch vụ, thông tin từ WinWin Global.
                Bằng việc sử dụng bất kỳ dịch vụ nào của WinWin Global, bạn chấp nhận,
                đồng ý bị ràng buộc và tuân thủ các điều khoản chung sử dụng trên.Nếu
                bạn không đồng ý với bất kỳ điều khoản sử dụng, chính sách bảo mật,
                xác nhận danh tính của WinWin Global hoặc không có đầy đủ năng lực
                hành vi dân sự phù hợp, xin vui lòng dừng việc truy cập và hủy
                sử dụng ngay lập tức.
            </p>
            <p>
                <br />
            <p><strong>ĐIỀU 15: MIỄN TRỪ TRÁCH NHIỆM PHÁP LÝ</strong></p>
            <p>
                Trong bất cứ trường hợp nào, WinWin Global sẽ không chịu trách
                nhiệm với bạn hoặc bất kỳ người nào khác/ bên thứ ba nào khác
                cho mọi, hậu quả phát sinh bên ngoài hoặc liên quan đến những
                điều khoản sử dụng dịch vụ của WinWin Global.
            </p>
            <p>
                <i>
                    ※ Cảm ơn bạn đã tham gia cộng đồng toàn cầu của WinWin Global
                    và và hợp tác với chúng tôi để duy trì một môi trường an
                    toàn cho tất cả người dùng. Chúng tôi đánh giá cao khi
                    bạn góp ý kiến để xây dụng dịch vụ tốt hơn, hoặc phát
                    hiện thấy nội dung hoặc tài khoản mà bạn tin là vi
                    phạm Chính sách Cộng đồng, xin vui lòng liên hệ cho
                    chúng tôi để chúng tôi xem xét và có hành động phù hợp. Xin cảm ơn./.
                </i>
            </p>
            <br>
        </div>
    </div>
</div>