@{
    ViewData["Title"] = "Chính sách & điều khoản";
}
<header class="header-about">
    <img class="img-cover" src="img/banner/city.jpg" alt="..." />
    <div class="nav" data-aos="fade-down" data-aos-duration="500">
        <div class="container-fluid">
            <div class="nav__left">
                <a href="/" class="logo">
                    <img class="logo-img v1" src="img/logo-icon/logov2.png" alt="..." />
                    <img class="logo-img v2" src="img/logo-icon/logov3.png" alt="..." />
                </a>
                <ul class="ul-reset menu">
                    <li><a href="/gioi-thieu">Giới thiệu</a></li>
                    <li>
                        <a href="/danh-sach-truong-hoc">Giáo dục <i class="far fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a class="stretched-link" href="/danh-sach-truong-hoc">Tuyển sinh</a></li>
                            <li><a class="stretched-link" href="/danh-sach-bai-giang">Học online</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Tiện ích <i class="far fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a class="stretched-link" href="#">Việc làm</a></li>
                            <li><a class="stretched-link" href="#">Phòng trọ</a></li>
                            <li><a class="stretched-link" href="#">Kết bạn</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Dịch vụ khác <i class="far fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a class="stretched-link" href="#">Đặt vé máy bay</a></li>
                            <li><a class="stretched-link" href="#">Chuyển tiền quốc tế</a></li>
                            <li><a class="stretched-link" href="#">Chuyển phát nhanh</a></li>
                            <li><a class="stretched-link" href="#">Thương mại</a></li>
                            <li><a class="stretched-link" href="#">Văn hóa</a></li>
                        </ul>
                    </li>
                    <li><a href="/chinh-sach-va-dieu-khoan">Chính sách & điều khoản</a></li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                </ul>
                <div class="bar-mobile">
                    <i class="fal fa-bars"></i>
                </div>
            </div>
            <div class="nav__right">
                <a href="#">
                    <img src="img/logo-icon/apple_icon.png" />
                </a>
                <a href="#">
                    <img src="img/logo-icon/gplay_icon.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="title-main mt-lg-10 mt-3">Chính sách & điều khoản</h1>
        <div class="text-center mt-1">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chính sách & điều khoản</li>
            </ol>
        </div>
    </div>
</header>
<div class="bg-white py-lg-8 py-5">
    <div class="container px-lg-10 px-md-5 px-3">
        <div class="content-detail px-lg-10 px-md-5 px-0">
            <p><strong><strong>ĐIỀU 1: MỤC ĐÍCH</strong></strong></p>
            <br />
            <p>
                Các điều khoản và điều kiện này đề cập đến các quyền, nghĩa vụ và nghĩa vụ của công ty và người dùng trong việc sử dụng các dịch vụ
                trực tuyến và ngoại tuyến của WINWIN (sau đây gọi là "dịch vụ") do Công ty CP ĐT QT Hoàng Gia (sau đây gọi là "công ty") vận hành. Mục đích là xác định trách nhiệm.
                <br />
                ※ “ Điều khoản sử dụng này sẽ được áp dụng với các hoạt động của người trên các thiết bị có kết nối internet như : máy tính PC, điện thoại thông minh, máy tính bảng … ”
            </p>
            <br />
            <br />
            <p><strong><strong>ĐIỀU 2: ĐỊNH NGHĨA</strong></strong></p>
            <br />
            <p>
                Định nghĩa của các thuật ngữ chính được sử dụng trong Điều khoản và Điều kiện này như sau :
                <br />
                ① WINWIN: là địa chỉ điện tử chính thức của công ty gồm website: www.winwinkr.com và App  được thiết lập để cung cấp miễn phí cho người dùng dịch vụ viết bài,
                nhắn tin trên các thiết bị có kết nối internet như : máy tính PC, điện thoại thông minh, máy tính bảng... Nó cũng được sử dụng với nghĩa là nhà điều hành dịch vụ này.
                <br />
                ② Người dùng: là đề cập đến các thành viên và những người không phải là thành viên truy cập vào WINWIN để sử dụng dịch vụ do WINWIN cung cấp.
                <br />
                ③ Thành viên: Là những người đã và đang sử dụng WINWIN, những người này đã cung cấp thông tin cá nhân cho WINWIN.
                <br />
                ④ Phi thành viên: Là người sử dụng các dịch vụ do WINWIN cung cấp mà không đăng ký làm thành viên.
                <br />
                ⑤ Dịch vụ: là đề cập đến tất cả những dịch vụ có liên quan, có thể sử dụng trong WINWIN .
                <br />
                ⑥ Bài đăng: là đề cập đến văn bản do thành viên cung cấp cho WINWIN hoặc mã văn bản, giọng nói, âm thanh, video, hình ảnh, tệp (bao gồm URL)…
                <br />
                ⑦ Công ty: là đề cập đến CÔNG TY CP ĐT QT HOÀNG GIA và công ty là đơn vị chịu trách nhiệm vận hành dịch vụ WINWIN
            </p>
            <br>
            <br />
            <p><strong><strong>ĐIỀU 3: GIẢI THÍCH NỘI DUNG ĐIỀU KHOẢN SỬ DỤNG </strong></strong></p>
            <br />
            <p>
                1.	Các thông tin như: Điều khoản sử dụng, tên người đại diện, địa chỉ, số hotline, số điện thoại, địa chỉ email, mã số thuế, thông tin của
                những người phụ trách các bộ phận... Sẽ được đưa lên trang chủ của WINWIN trong mục Điều khoản sử dụng . Để người dùng có thể dễ dàng tra cứu và liên hệ .
                <br />
                2.	Những nội dung quan trọng trong Điều khoản sử dụng như: lưu ý sử dụng, điều kiện, các hành vi bị cấm... sẽ được hiển thị cho người dùng đọc
                từ đó người dùng đưa ra quyết định đồng ý hoặc không đồng ý trước khi sử dụng dịch vụ của công ty.
                <br />
                3.	Công ty có quyền cập nhật, điều chỉnh và sửa đổi các Điều khoản sử dụng WINWIN để phù hợp với các luật pháp liên quan ở từng thời điểm khác nhau
                như : luật chữ ký điện tử, luật thông tin truyền thông điện tử,….
                <br />
                4.	Khi Điều khoản sử dụng có sự thay đổi nào đấy liên quan đến công ty sẽ được thông báo trên màn hình hiển thị của WINWIN 7 ngày trước khi áp dụng
                Điều khoản sử dụng mới. Và thông báo trước 30 ngày đối với những thay đổi liên quan đến lợi ích của người dùng. Các nội dung thay đổi này được so sánh ,
                trình bãy rõ ràng giúp người dùng dễ dàng nhận biết, so sánh và đưa ra quyết định đồng ý hay không đồng ý.
                <br />
                5.	Những hợp thành viên ở các thời điểm khác nhau thì áp dụng Điều khoản sử dụng có hiệu lực ở thời điểm đó.
            </p>
            <br>
            <p>
                Tuy nhiên, nếu các thông báo của WINWIN ở khoản 4 điều này đã được người dùng chấp thuận và có sự ghi nhận của công ty thì Các điều khoản sử dụng mới sẽ được
                áp dụng ngay kể từ khi người dùng nhấn vào nút chấp thuận... Các thành viên còn lại nếu không có sự phản đối rõ ràng, cụ thể nào vào ngày thay đổi điều khoản
                sử dụng có hiệu lực, thì được coi là đã đồng ý với các điều khoản sử dụng mới (Điều khoản đã sửa đổi).
            </p>
            <p>
                Những vấn đề không được nêu rõ trong <strong>Giải thích Nội dung Điều khoản sử dụng này</strong> vui lòng tham khảo Luật bảo vệ người tiêu
                dùng trong thương mại điện tử, Luật quy định về Điều khoản sử dụng, Nguyên tắc bảo vệ người tiêu dùng trong giao dịch thương mại điện tử, ...
            </p>
            <br />
            <br />
            <p><strong><strong>ĐIỀU 4: DỊCH VỤ CUNG CẤP VÀ THAY ĐỔI</strong></strong></p>
            <br />
            <p>
                WINWIN do công ty điều hành thực hiện các nhiệm vụ sau.
                <br />
                <strong>1.</strong> Ứng dụng di động WINWIN trên nền tảng Android và ios.
                <br />
                <strong>2.</strong> Dịch vụ cộng đồng
            </p>
            <br />
            <br />
            <p><strong><strong>ĐIỀU 5: TẠM NGỪNG DỊCH VỤ</strong></strong></p>
            <br />
            <p>
                Định nghĩa của các thuật ngữ chính được sử dụng trong Điều khoản và Điều kiện này như sau :
                <br />
                ① Công ty có thể hạn chế hoặc tạm ngừng một phần việc cung cấp dịch vụ nếu vì bất kỳ lý do nào sau đây:
                <br />
                ② Khi cần bảo trì, thay thế các phương tiện thông tin liên lạc như máy tính, phụ kiện, thiết bị bị hỏng hoặc tín hiệu liên lạc bị gián đoạn.
                <br />
                ③ Công tác vận hành dịch vụ gặp trở ngại do số người dùng dịch vụ tăng đột biến....
                <br />
                ④ Khi gặp trường hợp bất khả kháng như thiên tai khác, sự cố cấp quốc gia, ...
            </p>
            <br>
            <br />
            <p><strong><strong>ĐIỀU 6: ĐĂNG KÝ THÀNH VIÊN</strong></strong></p>
            <br />
            <p>
                ① Người dùng đăng ký thành viên bằng cách điền thông tin thành viên theo mẫu đăng ký do công ty cung cấp và đồng ý với các điều khoản sử dụng của WINWIN.
                <br />
                ② Những ngưỡi đã làm đầy đủ các bước của khoản 1 điều này sẽ được không được phê duyệt là thành viên của công ty nếu không thuộc những trường hợp sau đây:
                <br />
                <ul class="ul-block ml-3 ml-lg-5 mt-2">
                    <li style="line-height: 24px;" class="py-1">
                        1. Người bị hủy tư cách thành viên theo khoản 3 điều 7 Điều khoản này mà thời gian chưa đủ 3 năm.Sau 3 năm thì người này lại tiếp tục được chấp thuận làm
                        thành viên của công ty.
                    </li>
                    <li style="line-height: 24px;" class="py-1">2. Khai báo thông tin sai, bỏ sót hoặc nhầm lẫn trong nội dung đăng ký.</li>
                    <li style="line-height: 24px;" class="py-1">3. Việc đăng thành viên được xác định là gây trở ngại đến công nghệ của công ty.</li>
                </ul>
                <br />
                ③ Thời điểm xác lập hợp đồng thành viên là thời điểm đăng ký thành viên được công ty chấp thuận.
                <br />
                <br />
                <span>④ Nếu có sự thay đổi thông tin đăng ký theo khoản 1 Điều 15 thành viên phải thông báo ngay cho công ty về sự thay đổi bằng e-mail hoặc các phương tiện khác.</span>
            </p>
            <br>
            <br />
            <p><strong><strong>ĐIỀU 7: TỰ HỦY VÀ BỊ HỦY TƯ CÁCH THÀNH VIÊN</strong></strong></p>
            <br />
            <p>
                1.	Thành viên có thể yêu cầu rút khỏi công ty bất kỳ lúc nào và công ty sẽ xử lý việc rút lui ngay lập tức.
                <br />
                2.	Nếu thành viên thuộc bất kỳ lý do nào sau đây, công ty có thể hạn chế hoặc đình chỉ tư cách thành viên.
                <br />
                <ul class="ul-block ml-3 ml-lg-5 mt-2">
                    <li style="line-height: 24px;" class="py-1">
                        1. Người bị hủy tư cách thành viên theo khoản 3 điều 7 Điều khoản này mà thời gian chưa đủ 3 năm.Sau 3 năm thì người này lại tiếp tục được chấp thuận làm
                        thành viên của công ty.
                    </li>
                    <li style="line-height: 24px;" class="py-1">2. Khai báo thông tin sai, bỏ sót hoặc nhầm lẫn trong nội dung đăng ký.</li>
                    <li style="line-height: 24px;" class="py-1">3. Việc đăng thành viên được xác định là gây trở ngại đến công nghệ của công ty.</li>
                </ul>
                <br />
                <span>
                    3. Sau khi bị hạn chế hoặc đình chỉ tư cách thành viên, nếu các hành động tương tự lặp lại quá hai lần hoặc không được khắc phục trong vòng 30 ngày,
                    công ty có thể tước bỏ tư cách thành viên của bạn.
                </span>
            </p>
            <br>
            <p>
                Trong trường hợp bị tước bỏ tư cách thành viên, công ty sẽ thông báo cho thành viên đó và cho cơ hội giải trình, giải thích với công ty là 30 ngày trước
                khi bị hủy tư cách thành viên.
            </p>
            <br />
            <br />
            <p><strong>ĐIỀU 8: THÔNG BÁO CHO CÁC THÀNH VIÊN</strong></p>
            <br />
            <p>
                ① Các thông báo của công ty sẽ được gửi cho các thành viên qua email, mà các thành viên đó cung cấp khi đăng ký thành viên.
                <br />
                ② Với những thông báo chung cho tất cả các thành viên công ty sẽ đăng lên bảng tin dịch vụ của công ty 07 ngày trước khi có hiệu lực và không thông báo
                cho từng cá nhân. Công ty chỉ thông báo cho từng cá nhân khi nội dung đó liên quan đến chính thành viên đó.
            </p>
            <br>
            <br />
            <p><strong>ĐIỀU 9: CUNG CẤP THÔNG TIN VÀ QUẢNG CÁO</strong></p>
            <br />
            <p>
                ① Căn cứ vào sự lựa chọn phương thức thông báo quảng cáo của mỗi người khi đăng ký thành viên Công ty sẽ có những phương
                án thông báo quảng cáo phù hợp nhất cho từng thành viên như: gửi tin nhắn, gửi mail, thông báo trên ứng dụng,...
                <br />
                ② Thành viên có thể từ chối nhận tin nhắn văn bản, e-mail và ứng dụng di động nếu họ không muốn. Tuy nhiên, các thông báo về thông tin liên quan đến
                giao dịch của thành viên và các thắc mắc của khách hàng đều bị loại khỏi mục từ chối. Thành viên có thể từ chối nhận thông báo quảng cáo, nếu như
                họ không muốn nhận. Tuy nhiên những thông báo liên quan đến giao dịch hàng hóa và giải đáp thắc mắc là ngoại lệ.
            </p>
            <br>
            <br />
            <p><strong>ĐIỀU 10: BẢO VỆ THÔNG TIN CÁ NHÂN</strong></p>
            <br />
            <p>
                ① Khi thu thập thông tin từ các thành viên, công ty thu thập những thông tin tối thiểu cần thiết để thực hiện hợp đồng mua bán. Các mục sau là bắt
                buộc và các mục tùy chọn bao gồm:
                <br />
                <ul class="ul-block ml-3 ml-lg-5 mt-2">
                    <li style="line-height: 24px;" class="py-1">1. Tên.</li>
                    <li style="line-height: 24px;" class="py-1">2. Địa chỉ.</li>
                    <li style="line-height: 24px;" class="py-1">3. Số điện thoại.</li>
                    <li style="line-height: 24px;" class="py-1">4. ID- (nick name sử dụng trong ứng dụng WINWIN).</li>
                    <li style="line-height: 24px;" class="py-1">5. Số bí mật.</li>
                    <li style="line-height: 24px;" class="py-1">6. Địa chỉ email.</li>
                </ul>
                <br />
                <span>② Khi thu thập thông tin cá nhân để xác định thành viên thì công ty phải được sự đồng ý của thành viên đó.</span>
                <br />
                <span>
                    ③ Thông tin cá nhân của thành viên đã cung cấp không sử dụng cho các mục đích khác hoặc cung cấp cho bên thứ ba nếu không được sự đồng ý của chính thành viên đó .
                    Công ty sẽ hoàn toàn chịu trách nhiệm về việc này. Tuy nhiên, ngoại trừ những trường hợp sau:
                </span>
                <br />
                <ul class="ul-block ml-3 ml-lg-5 mt-2">
                    <li style="line-height: 24px;" class="py-1">1. Cung cấp thông tin không lộ danh tính vì mục đích thống kê, nghiên cứu học thuật, hay điều tra thị trường.</li>
                    <li style="line-height: 24px;" class="py-1">2. Trường hợp cần để xác nhận danh tính đề phòng trộm cắp.</li>
                    <li style="line-height: 24px;" class="py-1">3. Trường hợp bất khả kháng theo yêu cầu của pháp luật, người thi hành luật ...</li>
                </ul>
                <br />
                <span>
                    ④ Ngoài hệ thống lưu trữ dữ liệu của riêng mình, chúng tôi có thể sử dụng một số dịch vụ của bên thứ 3 để thu thập các thông tin (đã được mã hoá nặc danh) khi
                    bạn sử dụng dịch vụ của WINWIN. Việc thu thập thông tin này giúp chúng tôi cá nhân hoá trải nghiệm của bạn cải tiến dịch vụ của chúng tôi và mang đến những
                    thông điệp phù hợp với bạn nhất.
                </span>
                <br />
                <span>
                    Các thông tin thu thập tự động khi bạn sử dụng dịch vụ của chúng tôi trên WINWIN, ngoài hệ thống lưu trữ riêng, các thông tin này cũng được
                    ghi nhận bởi các dịch vụ truy vấn dữ liệu khác bao gồm Facebook, Google, và Firebase:
                </span>
                <br />
                <span>•	Lịch sử thao tác người dùng</span>
                <br />
                <br />
                <span>
                    ⑤ Thành viên có thể xem, sửa các thông tin cá nhân của mình lưu tại công ty bất kỳ lúc nào và công ty có nghĩa vụ thực hiện các biện pháp cần thiết ngay lập
                    tức nếu người dùng yêu cầu sửa lỗi. Công ty sẽ không sử dụng thông tin cá nhân của thành viên đó cho đến khi lỗi được sửa.
                </span>
                <br />
                <span>
                    ⑤ Thành viên có thể xem, sửa các thông tin cá nhân của mình lưu tại công ty bất kỳ lúc nào và công ty có nghĩa vụ thực hiện các biện pháp cần thiết ngay
                    lập tức nếu người dùng yêu cầu sửa lỗi. Công ty sẽ không sử dụng thông tin cá nhân của thành viên đó cho đến khi lỗi được sửa.
                </span>
                <br />
                <span>⑦ Công ty hoặc bên thứ ba sẽ hủy thông tin cá nhân do người dùng cung cấp ngay khi mục đích thu thập đạt được.</span>

            </p>
            </p>
            <p>

                <br>
                <br />
            <p><strong>ĐIỀU 11: NGHĨA VỤ CỦA CÔNG TY</strong></p>
            <br />
            <p>
                1.	Điều khoản sử dụng của công ty luôn luôn bám sát và tuân theo những quy định của pháp luật, tuân thủ trật tự và đạo đức công cộng. Hàng hóa của
                công ty được cung cấp một cách nhất quán và ổn định theo Điều khoản sử dụng này.
                <br />
                2.	Công ty đảm bảo có hệ thống bảo mật để bảo vệ thông tin cá nhân của người dùng (bao gồm cả thông tin tín dụng) để người dùng có thể yên tâm sử dụng dịch vụ .
                <br />
                3.	Công ty không gửi các e-mail thương mại nếu người dùng không mong muốn.
            </p>
            <br>
            <br />
            <p><strong>ĐIỀU 12: TRÁCH NHIỆM CỦA THÀNH VIÊN ĐỐI VỚI ID VÀ MẬT KHẨU</strong></p>
            <br />
            <p>
                ① Thành viên chịu trách nhiệm quản lý ID và mật khẩu ngoại trừ trường hợp của Điều 7.
                <br />
                ② Thành viên không được để bên thứ ba sử dụng ID và mật khẩu của mình.
                <br />
                ③ Khi thành viên nhận thấy ID và mật khẩu của mình đã bị đánh cắp hoặc bị bên thứ ba sử dụng phải thông báo ngay cho “công ty” và làm theo hướng dẫn của “công ty”.
            </p>
            <br>
            <br />
            <p><strong>ĐIỀU 13: NGHĨA VỤ CỦA NGƯỜI DÙNG</strong></p>
            <br />
            <p>
                Người dùng không được thực hiện các hành động sau:
                <br />
                1. Điền thông tin sai sự thật khi đăng ký thành viên hoặc khi thay đổi thông tin thành viên.
                <br />
                2. Đánh cắp thông tin của người khác
                <br />
                3. Thay đổi nội dung WINWIN đã đăng trên bảng tin.
                <br />
                4. Gửi hoặc đăng tải những nội dùng ngoài quy định của WINWIN đã quy định.
                <br />
                5. Vi phạm quyền sở hữu trí tuệ như bản quyền của WINWIN hoặc của các bên thứ ba.
                <br />
                6. Có các hành vi khác gây tổn hại đến danh tiếng hoặc cản trở hoạt động của WINWIN và các bên thứ 3.
                <br />
                7. Đăng tải thông điệp, hình ảnh, giọng nói tục tĩu hoặc bạo lực và các thông tin khác trái với trật tự công cộng và đạo đức.
            </p>
            <br>
            <br />
            <p><strong>ĐIỀU 14: BẢN QUYỀN</strong></p>
            <br />
            <p>
                ① Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và tất cả các thiết kế, văn bản, đồ họa, phần mềm, hình ảnh,
                video, âm nhạc, âm thanh, biên dịch phần mềm, mã nguồn và phần mềm cơ bản đều là tài sản của chúng tôi. Toàn bộ nội dung của WINWIN được bảo
                vệ bởi luật bản quyền của Việt Nam và các công ước quốc tế. Bản quyền đã được bảo lưu.
                <br />
                ② Người dùng không được sao chép, xuất bản, phân phối, ... sử dụng các bải viết của công ty vào mục đích thương mại của mình hoặc cung cấp
                cho bên thứ 3 khi chưa được sự đồng ý của công ty.
                </br/>
                ③ Khi người dùng sử dụng các tài liệu, tài liệu có tính chất bản quyền trong WINWIN sẽ được công ty thông báo .
            </p>
            <br>
            <br />
        </div>
    </div>
</div>