@{
    ViewData["Title"] = "Tiện ích";
}
<header class="header-about">
    <img class="img-cover" src="img/banner/city.jpg" alt="..." />
    <div class="nav" data-aos="fade-down" data-aos-duration="500">
        <div class="container-fluid">
            <div class="nav__left">
                <a href="/" class="logo">
                    <img class="logo-img v1" src="img/logo-icon/logov2.png" alt="..." />
                    <img class="logo-img v2" src="img/logo-icon/logov3.png" alt="..." />
                </a>
                <ul class="ul-reset menu">
                    <li><a href="/gioi-thieu">Giới thiệu</a></li>
                    <li>
                        <a href="/danh-sach-truong-hoc">Giáo dục <i class="far fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a class="stretched-link" href="/danh-sach-truong-hoc">Tuyển sinh</a></li>
                            <li><a class="stretched-link" href="/danh-sach-bai-giang">Học online</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Tiện ích <i class="far fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a class="stretched-link" href="/viec-lam">Việc làm</a></li>
                            <li><a class="stretched-link" href="/phong-tro">Phòng trọ</a></li>
                            <li><a class="stretched-link" href="/ket-ban">Kết bạn</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Dịch vụ khác <i class="far fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a class="stretched-link" href="/dat-ve-may-bay">Đặt vé máy bay</a></li>
                            <li><a class="stretched-link" href="/chuyen-tien-quoc-te">Chuyển tiền quốc tế</a></li>
                            <li><a class="stretched-link" href="/chuyen-phat-nhanh">Chuyển phát nhanh</a></li>
                            <li><a class="stretched-link" href="/thuong-mai">Thương mại</a></li>
                            <li><a class="stretched-link" href="/van-hoa">Văn hóa</a></li>
                        </ul>
                    </li>
                    <li><a href="/chinh-sach-va-dieu-khoan">Chính sách & điều khoản</a></li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                </ul>
            </div>
            <div class="nav__right">
                <a href="#">
                    <img src="img/logo-icon/apple_icon.png" />
                </a>
                <a href="#">
                    <img src="img/logo-icon/gplay_icon.png" />
                </a>
                <div class="bar-mobile">
                    <i class="fal fa-bars"></i>
                    <i class="fal fa-times"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="title-main mt-lg-10 mt-3">Tiện ích</h1>
        <div class="text-center mt-1">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tiện ích</li>
            </ol>
        </div>
    </div>
</header>
<div class="bg-white py-lg-10 py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-9">
                <img class="w-100 img-fluid d-none d-lg-block" src="/img/banner/friend.jpg" alt="..." />
                <div class="content-detail mt-lg-5 mt-0">
                    <p>
                        Với kinh nghiệm đã giúp hàng ngàn bạn du học Hàn Quốc, chúng tôi hiểu được các vấn đề mà các bạn học viên hay gia đình luôn thắc mắc.
                        Hãy liên hệ với chúng tôi để nhận được tư vấn miễn phí. Chúng tôi sẽ giúp bạn chọn trường phù hợp với tài chính và việc làm
                        <br />
                        Sau 8 năm hoạt động và nghiên cứu trong lĩnh vực tư vấn du học và đào tạo ngoại ngữ. Đầu năm 2017, nhận được nhiều sự tin tưởng,
                        ủng hộ đông đảo của Quý phụ huynh và học sinh. Đồng thời khẳng định được vị thế tại Việt Nam và Quốc tế. Đánh dấu mốc phát triển
                        ngành Giáo Dục của WinWinKorea, với 20 trung tâm tư vấn du học trải khắp các tỉnh thành Bắc, Trung, Nam và ba chi nhánh tại Hàn Quốc
                        đưa WinWinKorea vào Top 10 thương hiệu uy tín nhất Việt Nam được Cục Sở Hưu Trí Tuệ Quốc Tế chứng nhận. Công ty đã vinh dự được
                        Thủ tướng NGUYỄN XUÂN PHÚC chúc mừng và trao quà danh dự tại Hội Nghị Quốc Gia. Hiệp hội doanh nghiệp Việt Nam trao tặng huân
                        chương vì sự nghiệp phát triển Đất nước và nhiều giải thưởng cao quý khác của các ban ngành trao tặng. WinWinKorea được
                        mở văn phòng trong khuôn viên tầng 7 Đại sứ quán Hàn Quốc. Là địa điểm đến tin cậy cho các học sinh, sinh viên trong cả nước.
                        Hàng năm WinWinKorea trao tặng nhiều suất học bổng cho học sinh có thành tích học tập tốt, học sinh có hoàn cảnh khó khăn.
                        <br/>
                        Thế mạnh của WinWinKorea chính là kinh nghiệm làm việc, thông tin chính xác trung thực, thái độ nhiệt tình, cởi mở và luôn luôn đồng
                        hành với học viên trong suốt quá trình du học tại Hàn Quốc. Điều đó giúp cho WinWinKorea luôn nhận được sự hài lòng và tín nhiệm
                        cao của Quý phụ huynh cũng như các bạn học sinh, sinh viên. WinWinKorea luôn đặt Uy Tín – Trách Nhiệm – Niềm Tin lên hàng đầu
                        <br />
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="category-title pl-lg-4 pt-lg-0 pt-md-5 pt-3">Danh mục</div>
                <ul class="ul-block list-category mt-lg-5 mt-4">
                    <li>
                        <a href="#"><i class="fas fa-caret-right mr-1"></i>Giáo dục</a>
                        <ul class="list-category__child">
                            <li><a href="#">Tuyển sinh</a></li>
                            <li><a href="#">Học online</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-caret-right mr-1"></i>Tiện ích</a>
                        <ul class="list-category__child">
                            <li><a href="#">Việc làm</a></li>
                            <li><a href="#">Phòng trọ</a></li>
                            <li><a href="#">Kết bạn</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> <i class="fas fa-caret-right mr-1"></i>Dịch vụ khác</a>
                        <ul class="list-category__child">
                            <li><a href="#">Đặt vé máy bay</a></li>
                            <li><a href="#">Chuyển tiền quốc tế</a></li>
                            <li><a href="#">Chuyển phát nhanh</a></li>
                            <li><a href="#">Thương mại</a></li>
                            <li><a href="#">Văn hóa</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>